/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * TOOLS
 * Mixins...............Useful mixins.
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Box-sizing...........Better default `box-sizing`.
 *
 * BASE
 * Headings.............H1–H6 styles.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 *
 * TRUMPS
 * Text.................Text helpers.
 */

html {
  font-size: 16px;
}

body {
  font-family: var(--body-font-family);
}
// type scale

p {
  margin-top: 0; // browser reset
  margin-bottom: var(--baseline);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1rem; // TODO
  line-height: 1.15; // TODO
}

h1 {
  margin-top: 0;
  font-size: 3.052em; // 48px
}

h2 {
  font-size: 2.441em;
} // 39px

h3 {
  font-size: 1.953em;
} // 31.2px

h4 {
  font-size: 1.563em;
} // 25px

h5 {
  font-size: 1.25em;
} // 20px

small,
.text_small {
  font-size: 0.8em;
} // 12.8px

li {
  margin-bottom: 1rem;
}

address {
  font-style: unset; // revert from browser styles currently used in the footer
}

.text-center {
  // foundation style pulled over // I think wp has one of these already tho
  text-align: center;
}

.menu,
.menu > ul,
.menu > ul > li {
  list-style-type: none;
}

.mega a {
  text-decoration: none;
  padding: 1rem;
  border-right: 0.1em solid var(--cherry);
  border-bottom: 0.1em solid var(--cherry);
}
.mega a:hover {
  text-decoration: none;
  background: var(--cherry);
  color: var(--brilliance);
}

hr {
  margin: 1.25rem auto;
  border-top: 0;
  border-bottom: 1px solid var(--tin-soldier);
}

.is-style-mega-hr,
.mega-hr {
  // this might be able to become a gutenberg style in for most places
  border-bottom-width: 0.5em;
  border-color: var(--brilliance);

  border-style: solid;

  @media (min-width: $stork) {
    border-bottom-width: 1em;
  }
}

.is-style-mega-hr-primary,
.mega-hr-primary {
  @extend .mega-hr;
  border-color: var(--cherry);
}

.mega-hr-dirty {
  @extend .mega-hr;
  border-color: var(--kingly-cloud);
}

.mw-18em {
  // this should be renamed
  max-width: 18rem;
  justify-self: center;
}

figcaption,
.caption {
  color: gray;
  font-size: 1.5625rem;
  font-weight: bold;
}

/* doesnt come up in search
.footer_menu a {
    text-decoration: none;
}
*/

/* doesnt come up in search
.post-categories li {
    margin-bottom: 0;
}
*/

.comment-form input,
.comment-form textarea {
  border: 0.1em solid var(--tin-soldier);
  font-weight: bold;
  padding: 1rem;
  border-radius: 2px;
  width: calc(
    100% - 3em
  ); // feels like this should be 2.2em and is throwing errors on the post comment on a single page with a smaller width so should be more specific
}

.comment-form input {
  width: initial; // the text boxes can get smaller but the button hides the text if it gets smaller
}

.comment-form [type="checkbox"] {
  width: auto;
}

.comment-form input:focus,
.comment-form textarea:focus {
  outline: 0.1em solid var(--cherry);
  border-radius: 2px;
}

.category-thumbnail img:hover {
  opacity: 0.8; // indication of a link
}

.wp-block-code {
  // this is getting overwritten by js that isnt really doing much of what I want at the moment and needs fixing in riley-webpack
  background: var(--brilliance);
  padding: 1rem;
  line-height: 1.5em;
}

.flatten
// .flatten img
{
  transform: rotateX(90deg);
}

.flatten img {
  transform-origin: bottom;
  transition: 3s ease;
}

.base {
  filter: drop-shadow(16px 16px 10px gray);
  @media (prefers-color-scheme: dark) {
    filter: drop-shadow(16px 16px 10px black);
  }
}

.show-for-medium {
  display: none;

  @media (min-width: $stork) {
    display: inherit;
  }
}

.hide-for-medium {
  @media (min-width: $stork) {
    display: none;
  }
}
.hide-for-large {
  @media (min-width: $pelican) {
    display: none;
  }
}

iframe {
  background: linen; // just a little fallback color incase an embed doesnt load
}

.category-overlaying-image {
  filter: grayscale(100%);
  mix-blend-mode: multiply;
  @media (prefers-color-scheme: dark) {
    mix-blend-mode: screen;
  }
  z-index: 14;
  grid-row: 1;
  grid-column: 1/4;
}

.category-color-blocking {
  background: var(--cherry);
  mix-blend-mode: multiply;
  z-index: 15;
  grid-row: 1;
  grid-column: 1/4;
  transition: 300ms ease;

  @media (min-width: $stork) {
    grid-column: 2/5;
  }
}

.category-color-blocking:hover {
  background: hsl(var(--cherry__base), var(--dull));
}

/*
    theres a whole very specific way of dealing with the dev category which goes back on a bunch of the regular work done by the category design page 
*/

body.category-code {
  // needs to be on the body tag or a single article can be different to the page

  .category-overlaying-image {
    filter: none;
    mix-blend-mode: initial;
  }

  .category-color-blocking {
    display: none;
  }

  .category-color-blocking:hover {
    display: initial;
    opacity: 0.5;
  }

  .article-thumbnail {
    margin-top: 1rem * 3;
  }

  .page-title a {
    color: var(--cherry);
  }

  .fp-header {
    padding: 0;
    grid-row: initial;

    hr {
      display: none;
    }
  }
}

// rebuilding this
.spine-border {
  background: var(--cherry);
  width: 1rem;
  transition: 3s ease;
  justify-self: center;
}

.hero-hr {
  width: 100%;
  border-bottom: 4px solid var(--cherry);
  // I'll try this as a gradient soon
  margin: 0; // Im using the grid gaps to push this where it needs to be
}
