.ccc-west {
  display: none;
  @media (min-width: $stork) {
    display: inline;
    grid-column: 1;
    grid-row: 1/4;
    // 	margin-bottom: 1rem;
  }
}

.clicks,
.code,
.camera {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0.5em; // TODO

  @media (min-width: $stork) {
    grid-gap: 1em;
  }
}

.ccc-east {
  display: none;
  @media (min-width: $stork) {
    display: initial;
    grid-column: 3;
    grid-row: 1/4;
    // 	margin-bottom: 1rem;
  }
}

.social-icons {
  max-width: var(--albatross);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}

.social-icons > .fp-box > a {
  display: inline-block;
}

.social-icons svg {
  width: 2em;
  padding-top: 1rem;
  padding-bottom: 1rem;

  @media (min-width: $stork) {
    // red text on brackets isnt a good sign does it need a prefix
    width: 3em;
  }
}

.social-icons svg {
  fill: var(--brilliance);
}

.social-icons svg:hover {
  fill: var(--kingly-cloud);
}
