// Search

.searchform [type="text"] {
  // .post-password-form [type="password"]
  border: 0.1em solid $medium-gray;
  border-right: none;
  font-size: 2em; // type scale
  font-weight: bold;
  // TODO padding: $global-padding/2; // fit to the button
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;

  width: 100%; // max-width wasn't fixing the problem
  @media (min-width: map-get($breakpoints, medium)) {
    width: auto;
  }
}

.searchform [type="text"]:focus {
  outline: 0.1em solid $primary-color;
}

/* 
reducing some parts to get back to a style guide before building up again
.searchform [type="submit"],
#commentform [type="submit"] {
	background: none;
	border: 0.1em solid $primary-color;
	border-top: none;
	border-left: none;
	color: $primary-color;
	font-size: 2em;
	font-weight: bold;
	padding: $global-padding;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
} */

.searchform [type="submit"],
#commentform [type="submit"] {
  @extend button;
}

// front page
.ghostly {
  //	// TODO padding: $global-padding/2 0;

  // @media (min-width: map-get($breakpoints, medium)) {
  padding: $global-padding 0;
  // }
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/@media/hover */
@media (hover: hover) {
  .ghostly {
    transition: 20s ease;
    opacity: 0.2;
  }

  .ghostly:hover {
    transition: $global-transition;
    opacity: 1;
  }

  .presence {
    opacity: 1 !important; // why do I need important?
  }
}
